html {
}

body {
    background-color: #fff;
}

#code {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 179px;
}

#console {
    position: absolute;
    height: 175px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #474747;
    font-size: 12px;
    font-family: monospace;
    overflow: scroll;
    white-space: pre-wrap;
}

#console p {
    padding-left: 5px;
    color: #2a2a2a;
}

.codeout {
    margin: 5px;
    display: block;
    position: relative;
    overflow-x: scroll;
    background-color: #bbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: #595959;
    border-width: 3px;
}

.cc {
    display: inline-block;
    color: #2a2a2a;
    overflow-x: scroll;
}

.ccl {
    display: inline-block;
    font-weight: 400;
    color: #36502D;
    overflow-x: scroll;
    margin: 5px;
}
