@(exp: cypress.model.Experiment)

<script type="text/javascript" >
   var expname = "@exp.name";
</script>
<div id="design_content" onmousedown="viz_mousedown(event)"> </div>

<div id="control_panel">
    <div class="controllers">
        <div class="controller">
            <svg width="20" height="20"><polygon points="0,0 20,0 10,20" style="fill: #cc8f30" ></polygon></svg>
            <span class="cname">Smith</span>
        </div>
        <div class="controller">
            <svg width="20" height="20"><polygon points="0,0 20,0 10,20" style="fill: #1380bc" ></polygon></svg>
            <span class="cname">Brown</span>
        </div>
        <div class="controller">
            <svg width="20" height="20"><polygon points="0,0 20,0 10,20" style="fill: #9473dd" ></polygon></svg>
            <span class="cname">Jones</span>
        </div>
    </div>
    <div class="control_mod">
        <div class="mod_btn"><span>+</span></div>
        <div class="mod_btn"><span>-</span></div>
    </div>
</div>